<app-header></app-header>
<section id="hero" class="bg-gray-900 text-white py-60 relative" style="background-image: url('assets/data-analyst-1.jpg'); background-size: cover;">
  <div class="bg-gray-800 bg-opacity-50 p-6 mx-auto mb-6 absolute bottom-0 left-0 right-0 shadow-lg">
    <p class="text-xl font-semibold mb-4">Leverage data analytics to improve student outcomes</p>
    <a href="#features" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-full text-sm md:text-base transition-colors">Explore Features</a>
  </div>
</section>

<section id="features" class="border-t border-b border-solid border-gray-300 relative">
  <div class="container bg-slate-400 bg-opacity-20 mx-auto py-12">
    <h2 class="text-3xl font-semibold text-center mb-8">Key Features</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

      <div class="feature bg-slate-400 bg-opacity-60 p-6 flex flex-col items-center rounded-lg border border-solid border-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-700 mb-4" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 2c1.104 0 2 .896 2 2v12c0 1.104-.896 2-2 2s-2-.896-2-2V4c0-1.104.896-2 2-2zm1 2h2v12h-2V4zM7 6H5v10h2V6zm8-2h-2v14h2V4zM4 10H2v4h2v-4zm10-4h-2v8h2V6z" clip-rule="evenodd" />
        </svg>
        <h3 class="text-lg font-semibold mb-2 text-center">Teacher Companion Tools</h3>
        <p class="text-gray-700 text-sm text-center">Streamline lesson planning, grading, and assessment for educators.</p>
      </div>

      <div class="feature bg-slate-400 bg-opacity-60 p-6 flex flex-col items-center rounded-lg border border-solid border-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-700 mb-4" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 2c1.104 0 2 .896 2 2v12c0 1.104-.896 2-2 2s-2-.896-2-2V4c0-1.104.896-2 2-2zm1 2h2v12h-2V4zM7 6H5v10h2V6zm8-2h-2v14h2V4zM4 10H2v4h2v-4zm10-4h-2v8h2V6z" clip-rule="evenodd" />
        </svg>
        <h3 class="text-lg font-semibold mb-2 text-center">Convenient Results Displays</h3>
        <p class="text-gray-700 text-sm text-center">Access student performance data anytime, anywhere, on any device.</p>
      </div>

      <div class="feature bg-slate-400 bg-opacity-60 p-6 flex flex-col items-center rounded-lg border border-solid border-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-700 mb-4" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 2c1.104 0 2 .896 2 2v12c0 1.104-.896 2-2 2s-2-.896-2-2V4c0-1.104.896-2 2-2zm1 2h2v12h-2V4zM7 6H5v10h2V6zm8-2h-2v14h2V4zM4 10H2v4h2v-4zm10-4h-2v8h2V6z" clip-rule="evenodd" />
        </svg>
        <h3 class="text-lg font-semibold mb-2 text-center">Infinite Student Results Storage</h3>
        <p class="text-gray-700 text-sm text-center">Efficiently store and manage student performance data without limitations.</p>
      </div>
    </div>
    <div class="text-center mt-8">
      <a href="#cta" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-full transition-colors">Try Demo</a>
    </div>
  </div>
</section>

<section id="testimonials" class="bg-slate-400 bg-opacity-20 border-b border-solid border-gray-300 py-12 relative">
  <div class="container mx-auto">
    <h2 class="text-xl md:text-2xl font-semibold mb-4 text-center">What Our Users Say</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 relative">
      <div class="testimonial bg-white p-6 rounded-lg shadow-md border border-solid border-gray-300">
        <blockquote class="text-gray-700">{{ visibleTestimonials[0].quote }}</blockquote>
        <cite class="block mt-2 text-center">{{ visibleTestimonials[0].author }}</cite>
      </div>
      <div class="testimonial bg-white p-6 rounded-lg shadow-md border border-solid border-gray-300">
        <blockquote class="text-gray-700">{{ visibleTestimonials[1].quote }}</blockquote>
        <cite class="block mt-2 text-center">{{ visibleTestimonials[1].author }}</cite>
      </div>
      <div class="absolute inset-y-0 left-0 flex items-center">
        <button (click)="prev()" class="bg-gray-800 bg-opacity-20 hover:bg-gray-900 text-white font-semibold py-2 px-3 rounded-full transition-colors">&lt;</button>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center">
        <button (click)="next()" class="bg-gray-800 bg-opacity-20 hover:bg-gray-900 text-white font-semibold py-2 px-3 rounded-full transition-colors">&gt;</button>
      </div>
    </div>
  </div>
</section>


<section id="cta" class="bg-gray-900 py-12">
  <div class="container mx-auto text-center text-white">
    <h2 class="text-2xl md:text-3xl font-semibold mb-4">Ready to Transform Academic Performance?</h2>
    <p class="text-lg mb-4">Try out the demo today!</p>
    <a routerLink="/navigation" class="cta inline-block bg-white text-blue-500 py-2 px-6 rounded-full shadow-md hover:bg-blue-400 transition-colors">Demo</a>
  </div>
</section>

<footer class="mt-8 text-gray-600 text-sm">
  <p>&copy; 2024 Zeraki. All rights reserved.</p>
</footer>

