<app-header></app-header>

<!-- hero -->
<section id="hero">
    <div class="container">
      <h1>Unlock Academic Success with Our Result Analysis Dashboard</h1>
    
    </div>
  </section>

 <!-- features -->
<section id="features">
    <div class="container">
    
      <div class="feature">
  
        <div class="icon">
 
        </div>
      
        <h2>Comprehensive Data Insights</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       
        <a href="#" class="cta">Learn More</a>
      </div>
    
    </div>
  </section>

  <!-- Testimonials -->
<section id="testimonials">
    <div class="container">
      <h2>What Our Users Say</h2>
      <div class="testimonial">
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</blockquote>
        <cite>John Doe, Teacher</cite>
      </div>
      <div class="testimonial">
        <blockquote>This dashboard has enabled me to be able to track my students progress conveniently</blockquote>
        <cite>John Doe, Teacher</cite>
      </div>
      
    </div>
  </section>
  
  <!--call to action secion-->
  <section id="cta">
    <div class="container">
      <h2>Ready to Transform Academic Performance?</h2>
      <p>Sign up for a free trial or request a demo today!</p>
      <a href="#" class="cta">Sign Up Now</a>
    </div>
  </section>
  <app-footer></app-footer>